.p{
    background-color: #A2B2EE;
}
.MangaInfo {
    background-color: #262626;
    position: absolute;
     width: 100%;
    height: 100%;
  }
  
.Imagen {
    position: absolute;
    left: 15%;
    top: 15%;
    width: 30%;
    height: 70%;
    border: 3px solid #A2B2EE;
    border-radius: 2%;
    z-index: 1;
  }
  
  .Texto {
    position: absolute;
    left: 60%;
    bottom: 70%;
    z-index: 1;
    font-size: 2.6rem;
    color: #A2B2EE;
  }

  .Texto2{
    position: absolute;
    left: 60%;
    bottom: 20%;
    z-index: 1;
    
  }

   
  .Text3 {
    position: absolute;
    left: 60.1%;
    bottom: 60%;
    font-size: 2rem;
    color:#a6a6a7; 
    z-index: 1;
  }

  .Texto4{
    position: absolute;
    left: 60.1%;
    bottom: 40%;
    font-size: 1.8rem;
    z-index: 1;
    color: #A2B2EE;

    
  }
   
 

  .Texto5{
    position: absolute;
    left: 60.1%;
    bottom: 80%;
    font-size: 1.3rem;
    color:#a6a6a7; 
    z-index: 1;
    
  }

  .Texto6{
    position: absolute;
    left: 60.1%;
    bottom: 60%;
    font-size: 1.8rem;
    color: #d4daf0;
    z-index: 1;
    
  }

  .rectangulo {
    position: absolute;
    top:10%;
    left: 5%;
    width: 90%; 
    height: 80%; 
    z-index: 0;
    background-color: #2e3239;
  }
  .rectangulo2 {
    position: absolute;
    top:10%;
    left: 55%;
    width: 40%; 
    height: 80%; 
    z-index: 0;
    background-color: #4d515a;
  }
  
  