.titulo{
  background-color: #232529;
}

.titulo h1{
  margin-left: 5%;
  display: inline-block;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
  background: linear-gradient(to right, #9657e7 1%, #2bb480);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.4s ease-in-out;
}

.MangaInfo {
  background-color: #262626;
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: -1%;
}

.Imagen {
  position: absolute;
  left: 15%;
  top: 15%;
  width: 30%;
  height: 70%;
  border: 3px solid #a2b2ee;
  border-radius: 2%;
  z-index: 1;
}

.Texto_1 {
  position: absolute;
  left: 60%;
  bottom: 80%;
  z-index: 1;
  font-size: 1.8rem;
  color: white;
}
.Texto_2 {
  position: absolute;
  left: 69%;
  bottom: 80%;
  z-index: 1;
  font-size: 1.8rem;
  color: #4bb5c4;
}

.Texto2 {
  position: absolute;
  left: 70%;
  bottom: 20%;
  z-index: 1;
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color: #4bb5c4;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.Texto2:hover {
  background-color: #36c09d;
}

.Texto3_1 {
  position: absolute;
  left: 60.1%;
  bottom: 50%;
  font-size: 1.8rem;
  z-index: 1;
  color: white;
}
.Texto3_2 {
  position: absolute;
  left: 69%;
  bottom: 50%;
  font-size: 1.8rem;
  z-index: 1;
  color: #4bb5c4;
}

.Texto4_1 {
  position: absolute;
  left: 60.1%;
  bottom: 40%;
  font-size: 1.8rem;
  z-index: 1;
  color: white;
}
.Texto4_2 {
  position: absolute;
  left: 69%;
  bottom: 40%;
  font-size: 1.8rem;
  z-index: 1;
  color: #4bb5c4;
}

.Texto5_1 {
  position: absolute;
  left: 60.1%;
  bottom: 70%;
  font-size: 1.8rem;
  color: white;
  z-index: 1;
}
.Texto5_2 {
  position: absolute;
  left: 69%;
  bottom: 70%;
  font-size: 1.8rem;
  color: #4bb5c4;
  z-index: 1;
}

.Texto6_1 {
  position: absolute;
  left: 60.1%;
  bottom: 60%;
  font-size: 1.8rem;
  color: white;
  z-index: 1;
}
.Texto6_2 {
  position: absolute;
  left: 69%;
  bottom: 60%;
  font-size: 1.8rem;
  color: #4bb5c4;
  z-index: 1;
}

.rectangulo {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 90%;
  height: 80%;
  z-index: 0;
  background-color: #2e3239;
  border-radius: 15px;
}

.rectangulo2 {
  position: absolute;
  top: 10%;
  left: 55%;
  width: 40%;
  height: 80%;
  z-index: 0;
  background-color: #4d515a;
  border-radius: 15px;
}
.rectangulo3 {
  position: absolute;
  width: 100%;
  top: 97%;
  height: auto;
  background-color: #2c2e33;
  padding: 6rem;
  margin-top: 2rem;
  border-radius: 5px;
}

.comentar {
  font-size: 1.8rem;
  color: #d4daf0;
  margin-bottom: 1rem;
}

.Comentario {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 5px;
  margin-bottom: 1rem;
  background-color: #4d515a;
  color: #ffffff;
}

.Comentario:focus {
  outline: none;
}

.Comentario::placeholder {
  color: #a6a6a7;
}

.Botones {
  display: flex;
  justify-content: flex-end;
}

.Botones button {
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #4bb5c4;
  color: #ffffff;
  cursor: pointer;
}

.Botones button:hover {
  background-color: #36c09d;
}

.AgregarComentario {
  font-size: 1.4rem;
  color: #a2b2ee;
  cursor: pointer;
}

.AgregarComentario:hover {
  text-decoration: underline;
}

.Box-comment-container {
  position: relative;
}

.Box-comment-container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2c2e33;
  z-index: 0;
  border-radius: 5px;
}

.Box-comment {
  position: relative;
  font-size: 1.3rem;
  color: #ffffff;
  z-index: 1;
  margin-top: 2rem;
  padding: 1rem;
  background-color: #4d515a;
  font-family: "Helvetica Neue", Arial, sans-serif;
  border-radius: 15px;
}
.Box-comment:hover {
  border: 3.5px solid rgba(255, 255, 255, 0.5);
  transition: border-color 0.3s;
}
.Box-comment  p {
  font-family: "Georgia", serif;
}
