.p{
    background-color: #A2B2EE;
}
.MangaInfo {
    background-color: #262626;

  }
  
.Imagen {
    position: relative;
    left: 14rem;
    top: 8rem;
    width: 30vw;
    height: 40rem;
    margin-bottom: 0%;
    border: 3px solid #A2B2EE;
    border-radius: 2%;
    z-index: 1;
  }
  
  .Texto {
    position: relative;
    left: 60rem;
    bottom: 24rem;
    width: 30vw;
    height: 5vh;
    z-index: 1;
    font-size: 2.6rem;
    color: #A2B2EE;
  }

  .Texto2{
    position: relative;
    left: 60rem;
    bottom: 10rem;
    width: 30vw;
    z-index: 1;
    
  }

   
  .Text3 {
    position: absolute;
    left: 60rem;
    bottom: 70%;
    width: 30vw;
    font-size: 2rem;
    color:#a6a6a7; 
    z-index: 1;
  }

  .Texto4{
    position: relative;
    left: 61rem;
    bottom: 14rem;
    font-size: 1.8rem;
    width: 30vw;
    z-index: 1;
    color: #A2B2EE;

    
  }
   
 

  .Texto5{
    position: absolute;
    left: 60rem;
    bottom: 70%;
    width: 30vw;
    font-size: 1.3rem;
    color:#a6a6a7; 
    z-index: 1;
    
  }

  .Texto6{
    position: absolute;
    left: 61rem;
    bottom: 50%;
    font-size: 1.8rem;
    width: 30vw;
    color: #d4daf0;
    z-index: 1;
    
  }

  .rectangulo {
    position: absolute;
    top:17.5%;
    left: 5%;
    width: 90%; 
    height: 80%; 
    z-index: 0;
    background-color: #2e3239;
  }
  .rectangulo2 {
    position: absolute;
    top:17.5%;
    left: 55%;
    width: 40%; 
    height: 80%; 
    z-index: 0;
    background-color: #4d515a;
  }
  
  