* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #26292B;
}
.inter{
  background-color: #26292B;
}
.imagenes * {
  background-color: #26292B;
}

.background {
  min-height: 100vh;
  background-color: #26292B;
}

.Cuadro {
  position: absolute;
  left: 30%;
  top: 25%;
  transform: translate(-100%, -100%);
}

.Cuadro2 {
  position: absolute;
  left: 80%;
  top: 25%;
  transform: translate(-100%, -100%);
}

.box {
  min-width: 490px;
  background-color: #5F7ADB;
  border-radius: 20px;
  text-align: center;
  position: relative;
  padding: 20px;
  line-height: 2.2;
}

.background {
  background-color: #26292B;
  height: 100vh;
}
